@media only screen and (max-width:992px){
    div#offcanvasNavbar {
        background: #043b5c;
    }
    a.btn.btn-primary.btn_canvas {
        background: none;
        border: none;
    }
    ul.dropdown-menu.responsive {
    margin: -21px 0 -8px -10px;
}
    .canva_cls {
        margin: 10% 0 0 80%;
        color: #fff !important;
        background: transparent;
        border: none;
    }
    i.fa-solid.fa-xmark {
        font-size: 30px;
    }
    .footer{
        height: auto;
    }
    a.navbar-brand {
        margin: -30px 0 0 0;
    }
    .btn_canvas {
        margin: -30px 0 0 0;
        border: none;
    }
     a.dropdown-item {
    font-size: 12px;
    margin: 0;
}

}
@media only screen and (min-width:320px) and (max-width:374px){
 

    a.navbar-brand {
        margin: -30px 0 0 0;
    }
    .btn_canvas {
        margin: -30px 0 0 0;
    }
    video#bg-video {
        position: relative;
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    .video_overlay{
        top: -30%;
        width: auto;
        transform: translate(0%, 100%);
    }
    .ban_head{
        font-size: 30px !important;
    }
    h2.slide_head{
        font-size: 30px;
        margin-top: -5%;
    }
    h3.ser_text {
    font-size: 18px;
}
    .legacy_head h2 {
    font-size: 20px;
    }
    .legacy_text p {
    font-size: 13px;
    }
    .splide__slide{
        width:60% !important;
    }
    button.splide__arrow.splide__arrow--prev ,
    button.splide__arrow.splide__arrow--next{
    margin: 12% 0 0 0 !important;
}
.abt_h {
    width: 100%;
}
.legacy_head {
    margin-top: -5%;
}
ul#slider2-list {
    width: 100%;
    margin-top: -10% !important;
}
.card_content{
    left: 48px;
}
.get_text{
    margin: 35px 0;

}
h4.grw {
    font-size: 22px;
}
.btn_get {
    margin: -5px 0 0 0;
}
.social_links {
    margin: 25px 0 0 -28px;
}
.card.About_ser{
    height:45vh;
}
.card.weocard {
    height: auto;
}
.card.extraser {
    height: auto;
}
}

@media only screen and (min-width:375px) and (max-width:424px)
{
    a.navbar-brand {
        margin: -30px 0 0 0;
    }
    .btn_canvas {
        margin: -30px 0 0 0;
    }
    video#bg-video {
        position: relative;
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    .video_overlay{
        top: -20%;
        width: auto;
        transform: translate(0%, 100%);
    }
    .ban_head{
        font-size: 30px !important;
    }
    .card.About_ser{
        height: auto;
    }
    h2.slide_head{
        font-size: 30px;
        margin-top: -5%;
    }
    .legacy_head h2 {
    font-size: 20px;
    }
    .legacy_text p {
    font-size: 13px;
    }
    .splide__slide{
        width:60% !important;
    }
    button.splide__arrow.splide__arrow--prev ,
    button.splide__arrow.splide__arrow--next{
    margin: 12% 0 0 0 !important;
}

.legacy_head {
    margin-top: -5%;
}
ul#slider2-list {
    width: 100%;
    margin-top: -10% !important;
}
.abt_h {
    width: 100%;
}
.card_content{
    left: 48px;
}
.get_text{
    margin: 35px 0;

}
h4.grw {
    font-size: 25px;
}
.btn_get {
    margin: -5px 0 0 0;
}
.social_links {
    margin: 25px 0 0 -28px;
}
.card.About_ser{
    height: auto;
}
.card.weocard {
    height: auto;
}
.card.extraser {
    height: auto;
}
}
@Media only screen and (min-width:425px) and (max-width:767px){
    video#bg-video {
        position: relative;
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }
    .video_overlay{
        top: -18%;
        width: auto;
        transform: translate(0%, 100%);
    }
    .ban_head{
        font-size: 30px !important;
    }
    h2.slide_head{
        font-size: 30px;
        margin-top: -5%;
    }
    .splide__slide{
        width:60% !important;
    }
    button.splide__arrow.splide__arrow--prev ,
    button.splide__arrow.splide__arrow--next{
    margin: 12% 0 0 0 !important;
}
.abt_h {
    width: 100%;
}
.card.About_ser{
    height: auto;
}
.get_text{
    margin: 35px 0;

}
h4.grw {
    font-size: 25px;
}
.btn_get {
    margin: -5px 0 0 0;
}
.social_links {
    margin: 25px 0 0 -28px;
}
.card.extraser {
    height: auto;
}
.legacy_head h2 {
    font-size: 20px;
    }
    .legacy_text p {
    font-size: 13px;
    }
}
@media only screen and (min-width:768px) and (max-width:992px){
    a.navbar-brand {
        margin: -38px 0 0 0;
    }
    .btn_canvas {
        margin: -42px 0 0 0;
        border: none;
    }
    video#bg-video {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .video_overlay {
        top: 3%;
        width: auto;
        transform: translate(5%, 100%);
    }
    .ban_head{
        font-size: 30px !important;
    }
    .splide__slide{
        width:25% !important;
    }
    button.splide__arrow.splide__arrow--prev ,
    button.splide__arrow.splide__arrow--next{
    margin: 6% 0 0 0 !important;
}
.abt_h {
    width: 50%;
}
.legacy_head h2 {
    font-weight: 500;
    font-size: 20px;
    margin: 5px 0 8px 0;
}
.legacy_text p {
    font-size: 13px;
}
.card_title h3 {
    font-size: 20px;
    margin: 60px 0 0 0;
}
.card.About_ser{
    height: 37vh;
}
    h3.ser_text {
        font-size: 18px;
        padding: 5px;
    }
.card_content {
    padding: 0 0;
    left: 33px;
    bottom: -23px;
    padding: 8px 0px;
   
}
h4.grw{
    font-size: 35px;
}
p.foottext {
    font-size: 12px;
}
a.list-links {
    font-size: 15px;
}
a.list-loc,
a.list-mail,
a.list-open_hours
 {
    font-size: 14px;
}
a.list-loc::before,
a.list-phone::before,
a.list-mail::before,
a.list-open_hours::before{
    font-size: 18px;
}

.inner_head {
    margin: 10% 0 0 0;
}
.inner_tech_head {
    margin: 50px 0 0 0;
}
.inner_tech_head h2 {
    font-size: 24px;}
.inner_tech_content p{
    font-size: 16px;
    }
    .image_inner {
        width: 100%;
        margin: 120px auto;
    }
    section.inner_virt {
        margin: -85px 0 0 0;
    }
    .card_inner_head h4 {
        font-size: 15px;
        margin: 0 0 10px 0;
    }
    li.list-items a{
        font-size: 15px;
    }
    a.list-links::before {
        position: absolute;
        content: "\f105";
        font-family: 'FontAwesome';
        left: -15px;
        font-size: 12px;
        top: 0px;
    }
    .foot_logo {
        width: 50%;
        margin: -22px auto;
    }
    .weo_head h4 {
        color: #fff;
        margin: 0 0 25px 0;
        font-size: 20px;
    }
    /*.card.weocard{*/
    /*    height: 70vh;*/
    /*}*/
    .head_ext h4 {
        font-size: 18px;
    }
    .head_ext_content p {
        font-size: 15px;
    }
    .card.migrat{
        padding:12px;
    }
}
@media only screen and (min-width:993px) and (max-width:1080px){
    button.canva_cls {
        display: none;
    }
    a.btn.btn_canvas {
        display: none;
    }
    video#bg-video {
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .video_overlay {
        top: 3%;
        width: auto;
        transform: translate(5%, 100%);
    }
    .legacy_head h2{
        font-size: 25px;
    }
    .card_title h3 {
        margin: 25px 0 0 0;
        font-size: 25px;
    }
    .splide__slide{
        width:25% !important;
    }
    .footer{
        height: auto;

    }
    button.splide__arrow.splide__arrow--prev ,
    button.splide__arrow.splide__arrow--next{
    margin: 6% 0 0 0 !important;
}
.card_content {
    padding: 12px;
}
.card_content {
    padding: 12px;
    left: 50px;
    bottom: -32px;
}
.card.weocard{
    height: 70vh;
}
h4.grw{
    font-size: 40px;
}
/*ul.dropdown-menu.show{*/
/*    margin: 4% 0 0 -771%;*/
/*    padding: 85% 0%;*/
/*}*/
.image_inner {
    width: 100%;
    margin: 50px auto;
}
.weo_head h4{
    font-size: 26px;
}
.head_ext_content p {
    font-size: 14px;
}
section.inner_mgts {
    margin-top: -12% !IMPORTANT;
}
.card.migrat{
    height: 40vh;
}
.inner_tech_content p{
    margin: 20px 0 0 0;
}
.inner_tech_head {
    margin: 48px 0 35px 0;
}
section.inner_virt {
    margin: -8% 0 0 0;
}
/*ul.dropdown-menu{*/
/*    left:-681px;*/
/*}*/
/*ul.dropdown-menu.Servi_down.show {*/
/*    left: -829%;*/
/*}*/
/*ul.dropdown-menu.Servi_down {*/
/*    margin-left: 82px;*/
/*}*/
.card_inner_head h4 {
    font-size: 16px;
}
}
@media only screen and (min-width:1081px){
    .canva_cls {
        display: none;
    }
    .btn_canvas {
        display: none;
    }
    /* .card_title h3 {
        margin: 25px 0 0 0;
        font-size: 25px;
    } */
}
@media only screen and (min-width:1081px) and (max-width:1200px){
    .video_overlay{
        width:auto;
    }
    .card.About_ser{
        height:50vh;
    }
    h3.ser_text {
    font-size: 20px;
}
.card.weocard{
    height:65vh;
}
button.splide__arrow.splide__arrow--prev, 
button.splide__arrow.splide__arrow--next{
    margin:48px 0 0 0 !important;
}
h4.grw {
    font-size: 41px;
    color: #fff;
}
ul.dropdown-menu.Servi_down {
    margin: 0 0 0 541%;
}
.card.migrat{
    padding:14px;
}
}
@media only screen and (min-width:1201px) and (max-width:1500px){
.video_overlay {
    position: absolute;
    top: -40px;
    transform: translate(10%, 100%);
    width: 60%;
}
.card.About_ser {
    background: none;
    height: 50vh;
    margin: 0 0 20px 0;
    padding: 15px;
    border: 1px solid #fff;
    transition: all 1s ease;
}
.card_title {
    margin: -15px 0 0 0;
}
button.splide__arrow.splide__arrow--prev, 
button.splide__arrow.splide__arrow--next{
    margin:4% 0 0 0;
}
.card.weocard{
    height:58vh;
}
.card.extraser{
    height:60vh;
}
.card.migrat{
    padding:14px;
}



}
/*@media only screen and (min-width:1440px){*/
/*    .card.About_ser{*/
/*        height: auto;*/
/*    }*/
/*    .footer{*/
/*        height: auto;*/
/*    }*/
/*    .card.About_ser{*/
/*        height:48vh !important;*/
/*    }*/
   
/*     ul.dropdown-menu {*/
/*        margin: 4% 0 0 -1232% !important;*/

/*    } */
/*}*/


/*----Solution Media Queries starts---*/
@media only screen and (min-width:320px) and (max-width:374px){
    .inner_head {
        margin: 20% 0 0 0%;
        display: block;
    }
    .inner_tech_head h2 {
        font-size: 22px;
        margin: -35% 0 0 0;
    }
    .inner_tech_content p {
        font-size: 16px;
    }
    .image_inner {
       width: 100%;
        margin: 25px auto;
    }
    .card_inner_head h4 {
        font-size: 16px;
        margin: 12px 0 0 0;
    }
    .inner_tech_head {
        margin: 85px 0 0 0;
}
.card.migrat{
    padding:25px;
}
.inner_tech_head.bup,
.inner_tech_head.sto{
    margin-top: 110px;
}
}
@media only screen and (min-width:375px) and (max-width:512px){
    .inner_head {
        margin: 13% 0 0 15%;
        display: block;
        width: auto;
    }
    .inner_tech_head h2 {
        font-size: 22px;
        margin: -35% 0 0 0;
    }
    .inner_tech_content p {
        font-size: 16px;
    }
    .image_inner {
       width: 100%;
        margin: 25px auto;
    }
    .card_inner_head h4 {
        font-size: 16px;
        margin: 12px 0 0 0;
    }
    .inner_tech_head {
        margin: 105px 0 0 0;
    }
   .inner_tech_head.bup,
   .inner_tech_head.sto{
    margin-top: 125px;
}
}
@media only screen and (min-width:513px) and (max-width:767px){
    .inner_head {
        margin: 16% 0 0 0;
    }
    .inner_tech_head {
        margin: 0px 0 0 0;
    }
    .inner_tech_head h2 {
        color: #043b5c;
        font-size: 26px;
        font-weight: 600;
    }
    .image_inner {
        width: 100%;
        margin: 40px 0 0 0;
    }
    .card_inner_head h4 {
        font-size: 20px;
        margin: 20px 0 0px 0;
    }
}

/*----Solution Media Queries ends---*/


/*---contact us ----*/
@media (max-width: 768px) {
    .contact-us {
        padding: 20px;
    }

    .custom-btn {
        width: 100%;
    }

    .form-floating {
        margin-bottom: 1rem;
    }
}

@media (max-width: 576px) {
    .contact-us {
        padding: 10px;
    }

    .form-floating {
        margin-bottom: 0.5rem;
    }
}

